nifi-flow.json
{"flowContents":{"identifier":"8f491d83-d57d-365c-829b-53249a880558","instanceIdentifier":"27dbb587-018d-1000-af9e-0b1b0b445cb8","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"9845cf87-7657-3356-b4fb-798cba419feb","instanceIdentifier":"de8f945c-ea2e-3717-8931-575cd3076a9e","name":"LoadElasticIndexTemplates","comments":"","position":{"x":832.0,"y":232.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9d518747-c38f-39a9-b832-ebeaa5d44693","instanceIdentifier":"ff662661-f4c0-3492-86cf-ea4fe157915b","name":"CreateOrUpdateElasticIndexTemplates","comments":"","position":{"x":520.0,"y":368.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Request Password":"#{ELASTIC_PASSWORD}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"${ELASTIC_URL}/_index_template/${filename:substringBeforeLast('.')}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":"0c784ac0-7d3f-3c24-a33a-8149d488ec1f","Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"PUT","Request Username":"elastic","Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"1 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"ace4f6bd-8882-3bd5-a33f-5507e1d8c9cd","instanceIdentifier":"c03d762a-3aab-3760-ba06-1aac3f075165","name":"UpdateFilenameAttributeResponse","comments":"","position":{"x":1112.0,"y":584.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBeforeLast('.'):append('-'):append(${now():format(\"yyyy-MM-dd'T'HH-mm-ss[-SSS]XXX\")}):append('.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"9e5f4d34-728d-3d26-ad33-ed5dd72042c6","instanceIdentifier":"961ab15b-1e9e-3232-b6a6-88bbce13d4a6","name":"AttributesToJSON","comments":"","position":{"x":1528.0,"y":784.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"9e2ea96e-f73a-3ecb-9e52-09992cd99dc2","instanceIdentifier":"0df3f265-1c70-312e-8d74-c310e80e01dc","name":"UpdateFilenameAttributeRetryable","comments":"","position":{"x":1520.0,"y":568.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBeforeLast('.'):append('-'):append(${now():format(\"yyyy-MM-dd'T'HH-mm-ss[-SSS]XXX\")}):append('.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"12e84e88-764a-3e9a-83ae-ecc412d4e40a","instanceIdentifier":"b673b225-dfaa-3d44-b395-8ac9e6e180a7","name":"StoreResponseAttributes","comments":"","position":{"x":1104.0,"y":976.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/output/elastic/index_templates/response","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"fe882a24-6b8b-3664-8df9-e929a1ace9c8","instanceIdentifier":"99115021-1c7b-3993-9ec7-69e8ac75fd09","name":"StoreOriginalBody","comments":"","position":{"x":208.0,"y":792.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/output/elastic/index_templates/original","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"0f0f2018-284f-3011-8629-6848fd93403e","instanceIdentifier":"d0284925-fc98-3052-8b85-ab54bff52da3","name":"AttributesToJSON","comments":"","position":{"x":680.0,"y":784.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"27230583-f2c8-3e84-be14-f7ec5d9c3234","instanceIdentifier":"37fd9a29-76e2-3ae8-a81a-735531ea3337","name":"UpdateFilenameAttributeNonRetryable","comments":"","position":{"x":1920.0,"y":568.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBeforeLast('.'):append('-'):append(${now():format(\"yyyy-MM-dd'T'HH-mm-ss[-SSS]XXX\")}):append('.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"990c2415-c70c-35f4-a0b2-ec7ffc77de1b","instanceIdentifier":"0196956b-ff27-3668-a9a3-183d2c4290f6","name":"AttributesToJSON","comments":"","position":{"x":1120.0,"y":784.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"b6b2e859-162a-36aa-9637-6a0c882df705","instanceIdentifier":"c0753560-4487-3a68-82ae-5b32c90f1007","name":"UpdateFilenameAttributeOriginal","comments":"","position":{"x":216.0,"y":568.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBeforeLast('.'):append('-'):append(${now():format(\"yyyy-MM-dd'T'HH-mm-ss[-SSS]XXX\")}):append('.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"26ee2a46-6ef2-3701-b116-6a4d5d7cdea4","instanceIdentifier":"2006dcf4-798f-385a-a2bf-86247014b22b","name":"AttributesToJSON","comments":"","position":{"x":1912.0,"y":792.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"acc067f1-e47b-3737-8f04-248ec68c18d1","instanceIdentifier":"ed7c867e-373c-392c-b849-a07e2a94dbd7","name":"StoreFailureAttributes","comments":"","position":{"x":680.0,"y":976.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/output/elastic/index_templates/failure","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"81d97a36-2da7-3785-a9e2-de36ea9b78ee","instanceIdentifier":"c2c71352-0a05-3ebf-9041-1de691f41f52","name":"UpdateFilenameAttributeFailure","comments":"","position":{"x":680.0,"y":576.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBeforeLast('.'):append('-'):append(${now():format(\"yyyy-MM-dd'T'HH-mm-ss[-SSS]XXX\")}):append('.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"34017611-dc74-338b-9fa3-cd9edc50d311","instanceIdentifier":"69f386fe-0126-322d-81f4-2b5ba438b8b2","name":"ReadElasticIndexTemplates","comments":"","position":{"x":520.0,"y":104.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/input/elastic/index_templates","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"a3186c6e-5ae1-3a22-92a7-42fb15e273a1","instanceIdentifier":"1a0bb45e-a05a-3869-bf7f-6714b2c8e92a","name":"StoreResponseAttributes","comments":"","position":{"x":1920.0,"y":984.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/output/elastic/index_templates/nonretryable","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"af561f14-d37a-303c-8a97-4df8095b289b","instanceIdentifier":"ae2049b6-6450-37c4-91b8-f08e5b6331db","name":"StoreResponseAttributes","comments":"","position":{"x":1528.0,"y":984.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/output/elastic/index_templates/retryable","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cdf83d38-3c18-3054-b660-07d78350dba3","instanceIdentifier":"31d124b9-cb29-3d3e-8485-111ac242c24c","name":"","source":{"id":"990c2415-c70c-35f4-a0b2-ec7ffc77de1b","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"0196956b-ff27-3668-a9a3-183d2c4290f6"},"destination":{"id":"12e84e88-764a-3e9a-83ae-ecc412d4e40a","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"StoreResponseAttributes","comments":"","instanceIdentifier":"b673b225-dfaa-3d44-b395-8ac9e6e180a7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"9bf8e3b5-5652-3d11-b65d-c075a62c5cb8","instanceIdentifier":"5ac15066-162c-3d0f-a933-79e652f98f84","name":"","source":{"id":"9d518747-c38f-39a9-b832-ebeaa5d44693","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"CreateOrUpdateElasticIndexTemplates","comments":"","instanceIdentifier":"ff662661-f4c0-3492-86cf-ea4fe157915b"},"destination":{"id":"27230583-f2c8-3e84-be14-f7ec5d9c3234","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeNonRetryable","comments":"","instanceIdentifier":"37fd9a29-76e2-3ae8-a81a-735531ea3337"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"ba0d4a96-de08-354d-baa1-129642c44e05","instanceIdentifier":"71a75e87-861f-3f0b-a197-ed9ab7618e27","name":"","source":{"id":"9d518747-c38f-39a9-b832-ebeaa5d44693","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"CreateOrUpdateElasticIndexTemplates","comments":"","instanceIdentifier":"ff662661-f4c0-3492-86cf-ea4fe157915b"},"destination":{"id":"ace4f6bd-8882-3bd5-a33f-5507e1d8c9cd","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeResponse","comments":"","instanceIdentifier":"c03d762a-3aab-3760-ba06-1aac3f075165"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"b79b70b3-9098-385e-85fd-a1b73bece21a","instanceIdentifier":"4a61b2f3-a758-34db-9a39-2fb3bf5a5355","name":"","source":{"id":"9e5f4d34-728d-3d26-ad33-ed5dd72042c6","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"961ab15b-1e9e-3232-b6a6-88bbce13d4a6"},"destination":{"id":"af561f14-d37a-303c-8a97-4df8095b289b","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"StoreResponseAttributes","comments":"","instanceIdentifier":"ae2049b6-6450-37c4-91b8-f08e5b6331db"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"7e36a368-6686-3b5c-bb9d-c782185fb945","instanceIdentifier":"71d21045-34a7-3c2b-a06c-e2a4e08d1fa4","name":"","source":{"id":"ace4f6bd-8882-3bd5-a33f-5507e1d8c9cd","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeResponse","comments":"","instanceIdentifier":"c03d762a-3aab-3760-ba06-1aac3f075165"},"destination":{"id":"990c2415-c70c-35f4-a0b2-ec7ffc77de1b","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"0196956b-ff27-3668-a9a3-183d2c4290f6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"5e169582-e935-3e46-abbc-ecd5e8b0ffcb","instanceIdentifier":"0606d382-abf7-3e72-96c3-4c355c3e80be","name":"","source":{"id":"b6b2e859-162a-36aa-9637-6a0c882df705","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeOriginal","comments":"","instanceIdentifier":"c0753560-4487-3a68-82ae-5b32c90f1007"},"destination":{"id":"fe882a24-6b8b-3664-8df9-e929a1ace9c8","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"StoreOriginalBody","comments":"","instanceIdentifier":"99115021-1c7b-3993-9ec7-69e8ac75fd09"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"169f5790-ca8f-330f-bab3-90c0b4b77545","instanceIdentifier":"1fee987f-4ee8-3293-81b5-4acc06ab95d8","name":"","source":{"id":"9d518747-c38f-39a9-b832-ebeaa5d44693","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"CreateOrUpdateElasticIndexTemplates","comments":"","instanceIdentifier":"ff662661-f4c0-3492-86cf-ea4fe157915b"},"destination":{"id":"9e2ea96e-f73a-3ecb-9e52-09992cd99dc2","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeRetryable","comments":"","instanceIdentifier":"0df3f265-1c70-312e-8d74-c310e80e01dc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"45589eee-b9ed-335a-96ea-2e6b67ed7c3a","instanceIdentifier":"92809bf4-201a-347f-ad68-cb9d1c3c1457","name":"","source":{"id":"9e2ea96e-f73a-3ecb-9e52-09992cd99dc2","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeRetryable","comments":"","instanceIdentifier":"0df3f265-1c70-312e-8d74-c310e80e01dc"},"destination":{"id":"9e5f4d34-728d-3d26-ad33-ed5dd72042c6","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"961ab15b-1e9e-3232-b6a6-88bbce13d4a6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"ea00e50e-db99-36af-82dc-afac63adab3c","instanceIdentifier":"00d8016f-71fb-346e-bf54-639c109892fc","name":"","source":{"id":"34017611-dc74-338b-9fa3-cd9edc50d311","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"ReadElasticIndexTemplates","comments":"","instanceIdentifier":"69f386fe-0126-322d-81f4-2b5ba438b8b2"},"destination":{"id":"9d518747-c38f-39a9-b832-ebeaa5d44693","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"CreateOrUpdateElasticIndexTemplates","comments":"","instanceIdentifier":"ff662661-f4c0-3492-86cf-ea4fe157915b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"91acfb1a-e794-3bdf-82f7-cdaf4fc07c93","instanceIdentifier":"62bd3206-75ba-3cd9-8f56-da64c8e8df11","name":"","source":{"id":"26ee2a46-6ef2-3701-b116-6a4d5d7cdea4","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"2006dcf4-798f-385a-a2bf-86247014b22b"},"destination":{"id":"a3186c6e-5ae1-3a22-92a7-42fb15e273a1","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"StoreResponseAttributes","comments":"","instanceIdentifier":"1a0bb45e-a05a-3869-bf7f-6714b2c8e92a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"7c99503a-0680-30ed-8f0e-0ca2ff213da2","instanceIdentifier":"7677cc2b-8e21-321d-9ca0-d7c14e41f12a","name":"","source":{"id":"81d97a36-2da7-3785-a9e2-de36ea9b78ee","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeFailure","comments":"","instanceIdentifier":"c2c71352-0a05-3ebf-9041-1de691f41f52"},"destination":{"id":"0f0f2018-284f-3011-8629-6848fd93403e","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"d0284925-fc98-3052-8b85-ab54bff52da3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"db20f4f8-1869-32ca-9976-222a0a8b7a47","instanceIdentifier":"a04cf582-5000-3aa4-b3b8-870e41200563","name":"","source":{"id":"9d518747-c38f-39a9-b832-ebeaa5d44693","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"CreateOrUpdateElasticIndexTemplates","comments":"","instanceIdentifier":"ff662661-f4c0-3492-86cf-ea4fe157915b"},"destination":{"id":"b6b2e859-162a-36aa-9637-6a0c882df705","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeOriginal","comments":"","instanceIdentifier":"c0753560-4487-3a68-82ae-5b32c90f1007"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"d16601c0-963c-3e0a-b342-9753d41024ed","instanceIdentifier":"d5710352-458b-3c17-8737-2eade5f82615","name":"","source":{"id":"0f0f2018-284f-3011-8629-6848fd93403e","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"d0284925-fc98-3052-8b85-ab54bff52da3"},"destination":{"id":"acc067f1-e47b-3737-8f04-248ec68c18d1","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"StoreFailureAttributes","comments":"","instanceIdentifier":"ed7c867e-373c-392c-b849-a07e2a94dbd7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"12bcbc74-3cde-3c42-ac9a-f55056bc4ab3","instanceIdentifier":"7e8f255e-5e18-3497-8d2d-122d7c94139c","name":"","source":{"id":"27230583-f2c8-3e84-be14-f7ec5d9c3234","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeNonRetryable","comments":"","instanceIdentifier":"37fd9a29-76e2-3ae8-a81a-735531ea3337"},"destination":{"id":"26ee2a46-6ef2-3701-b116-6a4d5d7cdea4","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"2006dcf4-798f-385a-a2bf-86247014b22b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"0fe0ab15-8495-3435-adcb-3673d58ad4c3","instanceIdentifier":"15cad3a0-231d-3b85-a6c2-669250b3845c","name":"","source":{"id":"9d518747-c38f-39a9-b832-ebeaa5d44693","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"CreateOrUpdateElasticIndexTemplates","comments":"","instanceIdentifier":"ff662661-f4c0-3492-86cf-ea4fe157915b"},"destination":{"id":"81d97a36-2da7-3785-a9e2-de36ea9b78ee","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeFailure","comments":"","instanceIdentifier":"c2c71352-0a05-3ebf-9041-1de691f41f52"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"0c784ac0-7d3f-3c24-a33a-8149d488ec1f","instanceIdentifier":"27e713e0-018d-1000-ffff-ffffc4ee1503","name":"StandardRestrictedSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.0.0-M1"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/opt/nifi/nifi-current/privateCAs.jks","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M1"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"}],"parameterContextName":"Elastic Credentials","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"8f491d83-d57d-365c-829b-53249a880558"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Elastic Credentials":{"name":"Elastic Credentials","parameters":[{"name":"NIFI_TOOLKIT_HOME","sensitive":true,"provided":true},{"name":"NIFI_CLUSTER_IS_NODE","sensitive":true,"provided":true},{"name":"nifi_bootstrap_file","sensitive":true,"provided":true},{"name":"OLDPWD","sensitive":true,"provided":true},{"name":"ELASTIC_PASSWORD","sensitive":true,"provided":true},{"name":"NIFI_ELECTION_MAX_WAIT","sensitive":true,"provided":true},{"name":"NIFI_LOG_DIR","sensitive":true,"provided":true},{"name":"LANGUAGE","sensitive":true,"provided":true},{"name":"ELASTIC_USERNAME","sensitive":false,"provided":true,"value":"elastic"},{"name":"HOSTNAME","sensitive":true,"provided":true},{"name":"SINGLE_USER_CREDENTIALS_PASSWORD","sensitive":true,"provided":true},{"name":"NIFI_PID_DIR","sensitive":true,"provided":true},{"name":"HOME","sensitive":true,"provided":true},{"name":"PATH","sensitive":true,"provided":true},{"name":"nifi_props_file","sensitive":true,"provided":true},{"name":"ELASTIC_URL","sensitive":false,"provided":true,"value":"https://es01:9200"},{"name":"NIFI_HOME","sensitive":true,"provided":true},{"name":"LANG","sensitive":true,"provided":true},{"name":"JAVA_HOME","sensitive":true,"provided":true},{"name":"NIFI_BASE_DIR","sensitive":true,"provided":true},{"name":"hostname","sensitive":true,"provided":true},{"name":"NIFI_SENSITIVE_PROPS_KEY","sensitive":true,"provided":true},{"name":"nifi_toolkit_props_file","sensitive":true,"provided":true},{"name":"SINGLE_USER_CREDENTIALS_USERNAME","sensitive":true,"provided":true},{"name":"NIFI_CLUSTER_NODE_PROTOCOL_PORT","sensitive":true,"provided":true},{"name":"PWD","sensitive":true,"provided":true},{"name":"NIFI_ZK_CONNECT_STRING","sensitive":true,"provided":true}],"inheritedParameterContexts":[],"parameterProvider":"4fd9341c-d75b-31d0-926a-96ebc1ff653d","parameterGroupName":"Environment Variables","synchronized":true,"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{"4fd9341c-d75b-31d0-926a-96ebc1ff653d":{"identifier":"4fd9341c-d75b-31d0-926a-96ebc1ff653d","name":"EnvironmentVariableParameterProvider","type":"org.apache.nifi.parameter.EnvironmentVariableParameterProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"}}},"latest":false}