nifi-flow.json
{"flowContents":{"identifier":"20772ed6-c5f1-3d59-8c58-7f05ae804fad","instanceIdentifier":"282a79b3-018d-1000-a29b-9e6220980509","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"9845cf87-7657-3356-b4fb-798cba419feb","instanceIdentifier":"cd1df7d1-530b-3992-b22f-07e531a6b2c6","name":"LoadElasticIndexTemplates","comments":"","position":{"x":264.0,"y":48.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9d518747-c38f-39a9-b832-ebeaa5d44693","instanceIdentifier":"e89665e5-b6d5-394e-84f2-1ac023f56733","name":"CreateOrUpdateElasticIndexTemplates","comments":"","position":{"x":496.0,"y":304.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://es01:9200/_index_template/${filename:substringBeforeLast('.')}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":"b2d8e53e-c09d-304e-8bfb-4b65b8586228","Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"PUT","Request Username":"elastic","Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"1 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"ace4f6bd-8882-3bd5-a33f-5507e1d8c9cd","instanceIdentifier":"bdabf684-8a0a-3796-b397-089cfc0d13d6","name":"UpdateFilenameAttributeResponse","comments":"","position":{"x":736.0,"y":576.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBeforeLast('.'):append('-'):append(${now():format(\"yyyy-MM-dd'T'HH-mm-ss[-SSS]XXX\")}):append('.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"9e5f4d34-728d-3d26-ad33-ed5dd72042c6","instanceIdentifier":"10ffd3c9-7860-34e3-80dd-13063edefebc","name":"AttributesToJSON","comments":"","position":{"x":1208.0,"y":792.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"9e2ea96e-f73a-3ecb-9e52-09992cd99dc2","instanceIdentifier":"f05d5e3b-34df-39f3-8b8e-eadd6fe9a388","name":"UpdateFilenameAttributeRetryable","comments":"","position":{"x":1208.0,"y":576.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBeforeLast('.'):append('-'):append(${now():format(\"yyyy-MM-dd'T'HH-mm-ss[-SSS]XXX\")}):append('.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"12e84e88-764a-3e9a-83ae-ecc412d4e40a","instanceIdentifier":"75d945de-b8bb-31a8-b0eb-88d126ee8323","name":"StoreResponseAttributes","comments":"","position":{"x":736.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/output/elastic/index_templates/response","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"fe882a24-6b8b-3664-8df9-e929a1ace9c8","instanceIdentifier":"ea598ecb-c26e-324f-9e1f-7fb1d8ca1289","name":"StoreOriginalBody","comments":"","position":{"x":-128.0,"y":576.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/output/elastic/index_templates/original","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"0f0f2018-284f-3011-8629-6848fd93403e","instanceIdentifier":"ef094af5-7a76-3cfa-ba09-4d0690b5aa2f","name":"AttributesToJSON","comments":"","position":{"x":264.0,"y":792.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"27230583-f2c8-3e84-be14-f7ec5d9c3234","instanceIdentifier":"42060164-3124-3908-af16-f0e7bb0a528d","name":"UpdateFilenameAttributeNonRetryable","comments":"","position":{"x":1688.0,"y":576.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBeforeLast('.'):append('-'):append(${now():format(\"yyyy-MM-dd'T'HH-mm-ss[-SSS]XXX\")}):append('.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"990c2415-c70c-35f4-a0b2-ec7ffc77de1b","instanceIdentifier":"25e77be9-af58-3872-aff8-071b7011f2ed","name":"AttributesToJSON","comments":"","position":{"x":736.0,"y":792.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"26ee2a46-6ef2-3701-b116-6a4d5d7cdea4","instanceIdentifier":"66a48655-5f6e-3a69-8c24-e2b4e6408087","name":"AttributesToJSON","comments":"","position":{"x":1688.0,"y":792.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"b6b2e859-162a-36aa-9637-6a0c882df705","instanceIdentifier":"deb23b86-b20e-3397-ba4f-c9b1c2387785","name":"UpdateFilenameAttributeOriginal","comments":"","position":{"x":-128.0,"y":304.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBeforeLast('.'):append('-'):append(${now():format(\"yyyy-MM-dd'T'HH-mm-ss[-SSS]XXX\")}):append('.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"acc067f1-e47b-3737-8f04-248ec68c18d1","instanceIdentifier":"ac5c3a90-686b-3e52-b2b4-245726eefc24","name":"StoreFailureAttributes","comments":"","position":{"x":264.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/output/elastic/index_templates/failure","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"81d97a36-2da7-3785-a9e2-de36ea9b78ee","instanceIdentifier":"ac4704ae-0578-39e7-9a03-84a3bc9645bf","name":"UpdateFilenameAttributeFailure","comments":"","position":{"x":264.0,"y":576.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBeforeLast('.'):append('-'):append(${now():format(\"yyyy-MM-dd'T'HH-mm-ss[-SSS]XXX\")}):append('.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"34017611-dc74-338b-9fa3-cd9edc50d311","instanceIdentifier":"1dfc9c6f-40cd-3f5e-8404-5402ed75f2bb","name":"ReadElasticIndexTemplates","comments":"","position":{"x":496.0,"y":96.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/input/elastic/index_templates","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"a3186c6e-5ae1-3a22-92a7-42fb15e273a1","instanceIdentifier":"28fb375e-5d36-3dcd-ac78-366155f9e922","name":"StoreResponseAttributes","comments":"","position":{"x":1688.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/output/elastic/index_templates/nonretryable","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"af561f14-d37a-303c-8a97-4df8095b289b","instanceIdentifier":"68a7cdfc-1aa4-392d-bf94-531a388a51c7","name":"StoreResponseAttributes","comments":"","position":{"x":1208.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/output/elastic/index_templates/retryable","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cdf83d38-3c18-3054-b660-07d78350dba3","instanceIdentifier":"3b852c4b-871c-3d9d-864a-4bbec89c7cc1","name":"","source":{"id":"990c2415-c70c-35f4-a0b2-ec7ffc77de1b","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"25e77be9-af58-3872-aff8-071b7011f2ed"},"destination":{"id":"12e84e88-764a-3e9a-83ae-ecc412d4e40a","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"StoreResponseAttributes","comments":"","instanceIdentifier":"75d945de-b8bb-31a8-b0eb-88d126ee8323"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"9bf8e3b5-5652-3d11-b65d-c075a62c5cb8","instanceIdentifier":"10143c42-1cb9-3a27-8ae1-a00a62e5ce1d","name":"","source":{"id":"9d518747-c38f-39a9-b832-ebeaa5d44693","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"CreateOrUpdateElasticIndexTemplates","comments":"","instanceIdentifier":"e89665e5-b6d5-394e-84f2-1ac023f56733"},"destination":{"id":"27230583-f2c8-3e84-be14-f7ec5d9c3234","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeNonRetryable","comments":"","instanceIdentifier":"42060164-3124-3908-af16-f0e7bb0a528d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"ba0d4a96-de08-354d-baa1-129642c44e05","instanceIdentifier":"d3cefd83-52cc-3eea-a671-5aac71c62a48","name":"","source":{"id":"9d518747-c38f-39a9-b832-ebeaa5d44693","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"CreateOrUpdateElasticIndexTemplates","comments":"","instanceIdentifier":"e89665e5-b6d5-394e-84f2-1ac023f56733"},"destination":{"id":"ace4f6bd-8882-3bd5-a33f-5507e1d8c9cd","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeResponse","comments":"","instanceIdentifier":"bdabf684-8a0a-3796-b397-089cfc0d13d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"b79b70b3-9098-385e-85fd-a1b73bece21a","instanceIdentifier":"f46267f2-dd4a-3d08-a1ed-58236d372856","name":"","source":{"id":"9e5f4d34-728d-3d26-ad33-ed5dd72042c6","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"10ffd3c9-7860-34e3-80dd-13063edefebc"},"destination":{"id":"af561f14-d37a-303c-8a97-4df8095b289b","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"StoreResponseAttributes","comments":"","instanceIdentifier":"68a7cdfc-1aa4-392d-bf94-531a388a51c7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"7e36a368-6686-3b5c-bb9d-c782185fb945","instanceIdentifier":"6c9bdd56-7f86-3ce8-af7c-4858836dd3b4","name":"","source":{"id":"ace4f6bd-8882-3bd5-a33f-5507e1d8c9cd","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeResponse","comments":"","instanceIdentifier":"bdabf684-8a0a-3796-b397-089cfc0d13d6"},"destination":{"id":"990c2415-c70c-35f4-a0b2-ec7ffc77de1b","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"25e77be9-af58-3872-aff8-071b7011f2ed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"5e169582-e935-3e46-abbc-ecd5e8b0ffcb","instanceIdentifier":"1cab0512-02e0-338e-807e-1edfbdb76fe0","name":"","source":{"id":"b6b2e859-162a-36aa-9637-6a0c882df705","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeOriginal","comments":"","instanceIdentifier":"deb23b86-b20e-3397-ba4f-c9b1c2387785"},"destination":{"id":"fe882a24-6b8b-3664-8df9-e929a1ace9c8","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"StoreOriginalBody","comments":"","instanceIdentifier":"ea598ecb-c26e-324f-9e1f-7fb1d8ca1289"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"169f5790-ca8f-330f-bab3-90c0b4b77545","instanceIdentifier":"f853f094-7293-31ac-9543-6ad154209558","name":"","source":{"id":"9d518747-c38f-39a9-b832-ebeaa5d44693","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"CreateOrUpdateElasticIndexTemplates","comments":"","instanceIdentifier":"e89665e5-b6d5-394e-84f2-1ac023f56733"},"destination":{"id":"9e2ea96e-f73a-3ecb-9e52-09992cd99dc2","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeRetryable","comments":"","instanceIdentifier":"f05d5e3b-34df-39f3-8b8e-eadd6fe9a388"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"45589eee-b9ed-335a-96ea-2e6b67ed7c3a","instanceIdentifier":"d95babf7-f52f-33ef-b645-2c3ebaf03f54","name":"","source":{"id":"9e2ea96e-f73a-3ecb-9e52-09992cd99dc2","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeRetryable","comments":"","instanceIdentifier":"f05d5e3b-34df-39f3-8b8e-eadd6fe9a388"},"destination":{"id":"9e5f4d34-728d-3d26-ad33-ed5dd72042c6","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"10ffd3c9-7860-34e3-80dd-13063edefebc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"ea00e50e-db99-36af-82dc-afac63adab3c","instanceIdentifier":"d0133a03-26c2-3526-93cc-935fea95b5a9","name":"","source":{"id":"34017611-dc74-338b-9fa3-cd9edc50d311","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"ReadElasticIndexTemplates","comments":"","instanceIdentifier":"1dfc9c6f-40cd-3f5e-8404-5402ed75f2bb"},"destination":{"id":"9d518747-c38f-39a9-b832-ebeaa5d44693","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"CreateOrUpdateElasticIndexTemplates","comments":"","instanceIdentifier":"e89665e5-b6d5-394e-84f2-1ac023f56733"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"7c99503a-0680-30ed-8f0e-0ca2ff213da2","instanceIdentifier":"52d164be-02a1-35da-98b5-e7463b8ae742","name":"","source":{"id":"81d97a36-2da7-3785-a9e2-de36ea9b78ee","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeFailure","comments":"","instanceIdentifier":"ac4704ae-0578-39e7-9a03-84a3bc9645bf"},"destination":{"id":"0f0f2018-284f-3011-8629-6848fd93403e","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"ef094af5-7a76-3cfa-ba09-4d0690b5aa2f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"91acfb1a-e794-3bdf-82f7-cdaf4fc07c93","instanceIdentifier":"8169402d-7213-381f-a929-ce746197752d","name":"","source":{"id":"26ee2a46-6ef2-3701-b116-6a4d5d7cdea4","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"66a48655-5f6e-3a69-8c24-e2b4e6408087"},"destination":{"id":"a3186c6e-5ae1-3a22-92a7-42fb15e273a1","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"StoreResponseAttributes","comments":"","instanceIdentifier":"28fb375e-5d36-3dcd-ac78-366155f9e922"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"db20f4f8-1869-32ca-9976-222a0a8b7a47","instanceIdentifier":"300ac82d-d617-33dd-a0b5-5516300321f0","name":"","source":{"id":"9d518747-c38f-39a9-b832-ebeaa5d44693","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"CreateOrUpdateElasticIndexTemplates","comments":"","instanceIdentifier":"e89665e5-b6d5-394e-84f2-1ac023f56733"},"destination":{"id":"b6b2e859-162a-36aa-9637-6a0c882df705","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeOriginal","comments":"","instanceIdentifier":"deb23b86-b20e-3397-ba4f-c9b1c2387785"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"d16601c0-963c-3e0a-b342-9753d41024ed","instanceIdentifier":"121cce8a-c94f-3491-a3a3-e4ab8d8bad73","name":"","source":{"id":"0f0f2018-284f-3011-8629-6848fd93403e","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"ef094af5-7a76-3cfa-ba09-4d0690b5aa2f"},"destination":{"id":"acc067f1-e47b-3737-8f04-248ec68c18d1","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"StoreFailureAttributes","comments":"","instanceIdentifier":"ac5c3a90-686b-3e52-b2b4-245726eefc24"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"0fe0ab15-8495-3435-adcb-3673d58ad4c3","instanceIdentifier":"a1c5cea2-beea-3b3f-bc5c-86f3e43449d0","name":"","source":{"id":"9d518747-c38f-39a9-b832-ebeaa5d44693","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"CreateOrUpdateElasticIndexTemplates","comments":"","instanceIdentifier":"e89665e5-b6d5-394e-84f2-1ac023f56733"},"destination":{"id":"81d97a36-2da7-3785-a9e2-de36ea9b78ee","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeFailure","comments":"","instanceIdentifier":"ac4704ae-0578-39e7-9a03-84a3bc9645bf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"},{"identifier":"12bcbc74-3cde-3c42-ac9a-f55056bc4ab3","instanceIdentifier":"ee7e7ee8-e65c-3552-a354-7b96ac3becbd","name":"","source":{"id":"27230583-f2c8-3e84-be14-f7ec5d9c3234","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"UpdateFilenameAttributeNonRetryable","comments":"","instanceIdentifier":"42060164-3124-3908-af16-f0e7bb0a528d"},"destination":{"id":"26ee2a46-6ef2-3701-b116-6a4d5d7cdea4","type":"PROCESSOR","groupId":"9845cf87-7657-3356-b4fb-798cba419feb","name":"AttributesToJSON","comments":"","instanceIdentifier":"66a48655-5f6e-3a69-8c24-e2b4e6408087"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9845cf87-7657-3356-b4fb-798cba419feb"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"top level parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"20772ed6-c5f1-3d59-8c58-7f05ae804fad"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"b2d8e53e-c09d-304e-8bfb-4b65b8586228","instanceIdentifier":"286bebbb-018d-1000-0000-0000309db75b","name":"StandardRestrictedSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.0.0-M1"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"#{jks.path}","Truststore Password":"#{jks.password}","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M1"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"20772ed6-c5f1-3d59-8c58-7f05ae804fad"}],"parameterContextName":"top level parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"file parameters":{"name":"file parameters","parameters":[{"name":"jks.path","sensitive":false,"provided":true,"value":"/opt/nifi/nifi-current/jks/privateCAs.jks"},{"name":"elasticsearch.username","sensitive":false,"provided":true,"value":"elastic"},{"name":"elasticsearch.url","sensitive":false,"provided":true,"value":"https://es01:9200"},{"name":"jks.password","sensitive":true,"provided":true},{"name":"elasticsearch.password","sensitive":true,"provided":true}],"inheritedParameterContexts":[],"parameterProvider":"286fe26a-018d-1000-ffff-ffffb0a7d939","parameterGroupName":"parameters","synchronized":true,"componentType":"PARAMETER_CONTEXT"},"top level parameters":{"name":"top level parameters","parameters":[],"inheritedParameterContexts":["file parameters"],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{"286fe26a-018d-1000-ffff-ffffb0a7d939":{"identifier":"286fe26a-018d-1000-ffff-ffffb0a7d939","name":"FileParameterProvider","type":"org.apache.nifi.parameter.FileParameterProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"}}},"latest":false}